@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <form>
        <p>Browse and Borrow your favorite <button asp-controller="Books" class="button">Books</button>.</p>
    </form>
    
</div>
