@using BookEr.Web.Models

@model BorrowViewModel

<div class="contentHead">Borrow succesfully registered!</div>

<form>
    <button asp-action="Index" asp-controller="Books" class="button">Continue browsing</button>
</form>